#header {
    background-color: #f1f1f1;
    padding: 50px; 
    color: black;
    text-align: center; 
    font-size: 40px; 
    font-weight: bold; 
    position: fixed;
    top: 0; 
    width: 64%;
    margin-left: 20%;
    transition: 0.2s; 
  }
 body{ background-color: #ccc;}
 p:hover { background-color: salmon;}
 span:hover { background-color: pink;}
 small:hover { background-color: wheat;}
  div {
background-color: rgb(6, 120, 155);
color: white;
padding: 10px;
text-align: center;}
div:hover {
background-color: red;}
main {
    width: 60%; background-color: #eee;
    margin: 25%;
    padding: 5px;
}
h2 {text-decoration: underline;
font-style: italic;
}
