body {
	width: 450px;
	margin-left: 10px;
	margin-top: 15px;

}
.flex-container {
	height: 420px;
	width: 300px;
	display: flex;
	flex-wrap: wrap-reverse;
	background-color: lightpink;
	justify-content: space-evenly;
}

.flex-container > div {
	background-color: #f1f1f1;
	height: 50px;
	margin: 10px;
	align-content: stretch;
	justify-content: space-evenly;
	text-align: center;
	line-height: 40px;
	font-size: 65px;
	padding: 6px;
	border-radius: 10px
}
.screen {
	border-inline-end-width: 300px;
}
#screen {
	padding-bottom: -10px;
}
