body {
	
	width: 100%;
	background-image: url("../Images/abstract-art-background-1227511.jpg");
	background-repeat: no-repeat;
	background-size: auto auto;
	
}

@font-face {
	src: url("../fonts/Smasher\ 312\ Custom.ttf");
	font-family: "smasher";
}
.announce {
	width: auto;
	background-color: black;
	color: white;
	height: 40px;
	font-size: 35px;
	box-shadow: 15px 15px 25px purple;
	border-radius: 15%;
}
/*greeting*/
#welcome {
	width: 250px;
	height:100px;
	grid-area: welcome;
	font-size: 60px;
	margin-left: 20px;
	margin-top: 40px;
	text-align: center;
	padding-top: 30px;
	font-style: normal;
	font-family: "smasher";
	color: navy;
	text-shadow:5px 5px 10px red, 10px 10px 20px yellow, 15px 15px 30px green;
    -ms-transform: skewY(150deg); /* IE 9 */
    -webkit-transform: skewY(150deg); /* Safari */
    transform: skewY(150deg);
	
}
.container-all {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

/*geolocator*/
button {
	background-size: 100%; 
	width: 100px;
	height: 100px;
	font-size: 10px;
	background-color: yellow;
	border-radius: 55%;
}
/*calendar*/
.calendar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: yellow;
	border: 3px solid black;
	border-radius: 5%;
	width: 350px;
	box-shadow: 15px 15px 25px purple;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	position: right;

}
.calendar>header> h2 {
	font-size: 30px;
	font-family: "smasher";
	padding-bottom: 20px;

}
thead {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 20px;
}
	
.event {
	font-size: 20px;
	font-family: 'Patrick Hand SC', cursive;
	
}
.prev-month, .next-month {
	font-size:20px;
	font-family: 'Patrick Hand SC', cursive;
	color: lightgray;
}
td.current-day  {
	color:red;
	border: 2px solid red;
	border-radius: 50%; 
}
/*calculator*/
.calculator {
	height: 250px;
	width: 175px;
	display: flex;
	flex-wrap: wrap-reverse;
	background-color: yellow;
	border: 3px solid black;
	border-radius: 5%;
	justify-content: space-evenly;
	text-shadow: 10px 10px 20px purple;
	box-shadow: 15px 15px 25px purple;
}

.calculator>div {
	text-align: center;
	background-color: #f1f1f1;
	height: 20px;
	margin: 10px;
	font-family: 'Patrick Hand SC', cursive;
	align-content: stretch;
	justify-content: space-evenly;
	text-align: center;
	line-height: 5px;
	font-size: 15px;
	padding: 6px;
	border-radius: 10px
}


/*to do list*/
#listing {
	display: block;
	background-color: yellow;
	border: 3px solid black;
	border-radius: 5%;
	width: 250px;
	min-height: 400px;
	height: auto;
	box-shadow: 15px 15px 25px purple;
	text-align: center;
} 
#header  {
	font-size: 25px;
	margin-bottom: 15px;
	margin-top: 10px;
	margin: 0px auto;
	padding: 20px;
	font-family: "smasher";
	/*font-family: 'Permanent Marker', cursive;
	/*ont-family: 'The Girl Next Door', cursive;
	/*font-family: 'Dokdo', cursive;*/
}
li {
	background-color: transparent;
	color: #000;
	font-size: 22px;
	list-style-type: none;
	width: 80%;
	margin: 0px auto;
	border-radius: 3px;
	font-family: 'Patrick Hand SC', cursive;
	/*font-family: 'Permanent Marker', cursive;
	/* font-family: 'The Girl Next Door', cursive;*/
	text-align: justify;
}

ul {
	padding: 10px;
}

.item {
	background-color: transparent;
	color: #000;
}

input[type='text'] {
	font-size: 12px;
	padding: 6px;
	border: 1px solid #000;
	border-radius: 3px;
}

input[type='submit'] {
	background-color: #fff;
	color: #000;
	border-radius: 8px;
	border: none;
	padding: 5px;
}

#newItemButton {
    display: none;
}

#itemField {
	margin-top: 10px;
	width: 50%;
}
	
ul {
	text-align: initial;
	font-size: 30px;
	padding-left: 40px;
}
h2 {
	font-size: 40px;
}
/* clock



/* -- Border is required for #clock-face top-margin to work
in this case, I used a transparent border
because it doesn't really *need* to be visualized -- */
div { border: 1px solid transparent; }
/* -- The outside rim of the clock with gradient -- */
#clock-rim {
display: block;
position: relative;
width: 300px;
height: 300px;
background: linear-gradient(gray, black);
box-shadow: 15px 15px 25px purple;
border-radius: 150px;
}
/* -- Clock's face -- */
#clock-face {
display: block;
position: relative;  
width: 260px;
height: 260px;
margin: 19px auto;
border-radius: 150px;
background: yellow;
}
/* -- Second hand -- */
#second { 
	position: absolute;
	top: 123px; 
	left: 128px; 
	width: 100px; 
	height: 2px; 
	border: 1px solid transparent; 
	border-radius: 5px; 
	transform: unset; 
	background: green; 
	transform-origin: 1px 1px;
}
/* -- Minute hand -- */
#minute { 
	position: absolute; 
	top: 123px; 
	left: 128px; 
	width: 100px; 
	height: 4px; 
	border: 1px solid transparent; 
	border-radius: 5px; 
	transform: unset; 
	background: red; 
	transform-origin: 2px 2px; }
/* -- Hour hand -- */
#hour { 
	position: absolute; 
	top: 123px; 
	left: 128px; 
	width: 50px; 
	height: 4px; 
	border: 1px solid transparent; 
	border-radius: 5px; 
	transform: unset; 
	background: blue; 
	transform-origin: 2px 2px; }
/* -- Center of the clock -- */
#center { 
	position: absolute; 
	top: 118px; 
	left: 120px; 
	width: 16px; 
	height: 16px; 
	background: white; 
	border: 1px solid gray; 
	border-radius: 16px; }
/* -- "HTML clock"  in a box -- */
#brand { 
	position: absolute; 
	top: 110px; 
	left: 165px; 
	border: 1px solid gray; 
	border-radius: 5px; 
	width: 50px; 
	height: 40px; 
	font-family: Verdana; 
	font-size: 11px; 
	text-align: center; 
	line-height: 20px; 
}
/* -- Notches container -- */
#notch-container { 
	width: 260px; 
	height: 260px 
}
/* -- Hourly notch (thicker, but sparse) -- */
.notch { 
	position: absolute;	 
	width: 10px; 
	height: 2px; 
	background: black; 
	border-radius: 5px 5px 5px 5px; 
}
/* -- Minute notch (thin) -- */
.thin { 
	position: absolute; 
	width: 10px; 
	height: 1px; 
	border-top: 1px solid gray; 
}
@media (max-width: 800px) {
	.container {
	
	}
}
@media (max-width: 400px) {
	.container {
		
}}