body {
	background-color: black;
	width: 1000px;
	height: 1000px;
	margin: 5px auto;
}
header {
	/*font-family: 'Dancing Script', cursive;*/
	font-family: 'Shadows Into Light', cursive;
	color: silver;
	width: auto;
	/*background-color: silver;*/
	height: 400px;
	margin: 10px;
	/*border-radius: 50%;*/
	text-align: center;
	padding-top: 60px;
	/*border: 2px solid darkgrey */
}
section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	margin-top: 50px;
	margin-right: 30px;
	padding-bottom: 20px;
}
h1 {
	font-size: 100px;
}
h2 {
	font-size: 80px;
}
.project-image {
    border-radius: 50%;
	overflow: hidden;
    border: 2px solid #000;
    vertical-align: center;
    width: 215px;
    height: 215px;

}	
.project-name {
	font-size: 30px;
	color: #999;
	font-family: 'Shadows Into Light', cursive;
}
main {
	display: flex;
	margin-block-end: 100px;
	flex-flow: row;
	font-size: 55px;
	margin-top: 40px;
	margin-right: 100px;
	align-content: space-between;
	justify-content: left;
	align-content: space-around;
}
.moving-squares {
		transform: rotate(360deg);
}
button {
		margin-left: 30%;
		margin-bottom: 30px;
		width: 40%;
		font-size: 30px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		outline: none;
		color: black;
		background-color: grey;
		border: 2px solid black;
		border-radius: 15px;
		box-shadow: 0 9px #999;
}
button:hover {
	background-color: silver;
}
button:active {
		background-color:whitesmoke;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
}


/* -----this is media ----- fix to work with this html
.container {
	width: 100vw;
	display: grid;
	grid-template-columns: repeat (5, 20%);
	grid-template-rows: repeat (5, 20%);
	grid-template-areas:
		"welcome welcome . date date"
		"welcome welcome . date date"
		"calculator calculator . todolist todolist"
		"calculator calculator . todolist todolist"
		". clock clock clock .";
}
#welcome {
	grid-area: welcome;
	font-size: 50px;
}
#date {
	grid-area: date;
}
#calculator {
	grid-area: calculator;
}
#todolist {
	grid-area: todolist;
}
#clock {
	grid-area: clock;
}
@media (max-width: 800px) {
	.container {
		grid-template-areas:
			"welcome welcome . date date"
			"welcome welcome . date date"
			"calculator calculator . todolist todolist"
			"calculator calculator . todolist todolist"
			". clock clock clock .";
	}
}
@media (max-width: 400px) {
	.container {
		grid-template-areas:
			"welcome"
			"date"
			"todolist"
			"clock"
			"calculator";
	}
	

