body {
    background-image: url(../Images/tableClothe.png);
    height: auto;
}

header {
    display: block;
    block-size: 125px;
    background-color: silver;
    border: 5px solid grey;
    border-radius: 30%;
    text-align: center;
    font-size: 30px;
}
.container {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.plate {
    width: 750px;
    height: 400px;
    background-image: url(../Images/resizeDinnerPlate.png);
    background-repeat: no-repeat;
    background-color: transparent;
    padding-bottom:180px;
}
#weapons {
    padding-bottom: 200px;
}
/*display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;