body {
    width:1200px;
    height: 1200px;
    display: flex;
    flex-direction: row;

}
.item {
    font-size: 150px;
    text-align: center;  
}  
.rightB {
    border-right: 5px solid black;
}
.bottomB {
    border-bottom: 5px solid black;
}
.box {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: pink;
    width: 600px;
    height:600px;  
    border-radius: 5%;
    margin-top:70px;
    border-bottom: none;
    border-right: none;
}  

#player {   
   padding:100px;
   display: grid;
   width: 250px;
   justify-content: center;
}    
