body {
    width:1200px;
    height: 1200px;
    display: flex;
    flex-direction: row;

}
.item {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 10%;
    font-size: 150px;
    text-align: center;  
}  
.box {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: pink;
    width: 590px;
    height:590px;  
    border-radius: 5%;
    margin-top:70px;
    border-bottom: none;
    border-right: none;
}  
.choose > #player {   
    margin: 50px;
    width: 100px;
    padding: 10px;
    font-size:80px;
}    
