body {
    width: 1000px;
    height: 500px;
    background-color: goldenrod;
}
#start-game {
    margin-left:120px;
    margin-top: 50px;
}
[data-row] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 34px;
    margin: 25px;
   
  }
  
  [data-row].red {
    background-color: #f6c5c5;
  }
  
  [data-row].green {
    background-color: #baf6ba;
  }
  
  [data-row].blue {
    background-color: lightskyblue;
  }
  
  [data-color] {
    width: 25px;
    float: left;
  }
  
  [data-color="blue"] {
    height: 33px;
    background-color: blue;
  }
  
  [data-color="green"] {
    height: 33px;
    background-color: green;
  }
  
  [data-color="red"] {
    height: 33px;
    background-color: red;
  }
  h1 {
    font-family: 'Joti One', cursive;
  }
